* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Ubuntu', sans-serif;
}
/*General color*/
:root {
    --egyptian-Blue: #2037A1;
    --egyptian-Blue-dark: #0E1642;
    --background-color: #F7DC95;
    --sidebg-color: #FDD872;
    --text-color: #610A05;
    --button-color: #FF8D5C;
}

header {
    background-color: var(--header-color);
}

body {
    background-color: var(--sidebg-color);
    font-weight: 300;
    font-size: medium;
    line-height: 1.6;
    color: var(--text-color);
}

.container {
    min-width: 100vh;
}

.wrapper{
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
background: var(--background-color);
text-align: center;
}

.search{
    margin: 2rem 0;
}

.searchbtn {
   padding: 10px;
}


.search-content{
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border-color: var(--egyptian-Blue);
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.meal-photo {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn {
    padding:0.35em 1.2em;
    border: 0.1em solid var(--header-color);
    margin:0 0.3em 0.3em 0;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration:none;
    background-color: var(--text-color) !important;
    color: var(--button-color);
    text-align:center;
    transition: all 0.2s;
}

.btn:hover {
    color: var(--text-color);
    background-color: var(--button-color) !important;
    cursor: pointer;
}

#playerDivID #player
{
    background-color: var(--text-color);
    color: bisque;
    font-weight: bolder;
    width: 15px;
    font-size: 20px;
    margin-top: 30px;
}